{% extends "products/base.html" %}



{% block content %}

<h1>Products List</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">
       
      </th>

      <th scope="col">Name </th>
      <th scope="col">Price</th>
      <th scope="col">Category</th>
      <th scope="col">Stock Quantity</th>
      <th scope="col">Is Available</th>


      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
      <th scope="row">{{ product.id }}</th>
      <td>{{ product.name }}</td>
      <td>
        {% if product.image %}
        <img src="{{ product.image.url }}" width="50" height="50" alt="" />
        {% endif %} 
      </td>

      <td>{{ product.price}}</td>
      <td>{{ product.category}}</td>
      <td>{{ product.stock_quantity}}</td>
      <td>{{ product.available}}</td>


      <td>@mdo</td> 
      {% empty %}
      <div>
        <h2>There is no product right now </h2>
      </div>
    </tr>
    {% endfor %}

  </tbody>
</table>


{% endblock content %}